# Files or folders to ignore

shyft_workspace_copy/shyft_workspace/shyft-data/netcdf/orchestration-testdata/precipitation
shyft_workspace_copy/shyft_workspace/shyft-data/netcdf/orchestration-testdata/radiation
shyft_workspace_copy/shyft_workspace/shyft-data/netcdf/orchestration-testdata/rel_hum
shyft_workspace_copy/shyft_workspace/shyft-data/netcdf/orchestration-testdata/temperature
shyft_workspace_copy/shyft_workspace/shyft-data/netcdf/orchestration-testdata/wind/wind_speed_1999.nc
shyft_workspace_copy/shyft_workspace/shyft-data/netcdf/orchestration-testdata/wind/wind_speed_2000.nc
shyft_workspace_copy/shyft_workspace/shyft-data/netcdf/orchestration-testdata/wind/wind_speed_2001.nc
shyft_workspace_copy/shyft_workspace/shyft-data/netcdf/orchestration-testdata/wind/wind_speed_2002.nc
shyft_workspace_copy/shyft_workspace/shyft-data/netcdf/orchestration-testdata/wind/wind_speed_2003.nc
shyft_workspace_copy/shyft_workspace/shyft-data/netcdf/orchestration-testdata/wind/wind_speed_2004.nc
shyft_workspace_copy/shyft_workspace/shyft-data/netcdf/orchestration-testdata/wind/wind_speed_2005.nc
shyft_workspace_copy/shyft_workspace/shyft-data/netcdf/orchestration-testdata/wind/wind_speed_2006.nc
shyft_workspace_copy/shyft_workspace/shyft-data/netcdf/orchestration-testdata/wind/wind_speed_2007.nc
